<section id="contact" class="contact pad-sm">
  <div class="container flex">
    <p><strong>Current availability:</strong> Available for small projects</p>
    <h2>Contact</h2>
    <form name="contact" method="POST" netlify>
      <p>
        <label>
          <p>Your Name: </p> <input type="text" name="name" required />
        </label>
      </p>
      <p>
        <label>
          <p>Your Email: </p><input type="email" name="email" required />
        </label>
      </p>
      <p>
        <label>
          <p>Message: </p> <textarea name="message" required></textarea>
        </label>
      </p>
      <p class="button alt">
        <button type="submit">Send</button>
      </p>
    </form>
  </div>
</section>