<header class="relativity header--main">
  <div class="stripes">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="wrapper">
    <div class="pad-tb">
      {%- assign default_paths = site.pages | map: "path" -%} {%- assign page_paths =
      site.header_pages | default: default_paths -%}
      <nav class="site-nav">
        <a class="site-logo" rel="author" href="{{ site.url }}">&#60; k &#62;</a>
        <div class="skewbg">
          <div class="site-links">
            {%- for path in page_paths -%} {%- assign nav_page = site.pages | where: "path", path |
            first -%} {%- if nav_page.title == 'Think of the users' -%}
            <a
              class="page-link {% if nav_page.url == page.url %}active{% endif %}"
              href="{{ nav_page.url | relative_url }}"
              >Blog</a
            >
            {% elsif nav_page.title %} {%- unless nav_page.exclude -%}
            <a
              class="page-link {% if nav_page.url == page.url %}active{% endif %}"
              href="{{ nav_page.url | relative_url }}"
              >{{ nav_page.title | escape }}</a
            >
            {%- endunless -%} {%- endif -%} {%- endfor -%}
            <a class="page-link" href="#contact">Contact</a>
            {% include social-links.html -%}
          </div>
        </div>
      </nav>
    </div>
    {% if page.layout == 'default' %}
    <div class="index-title aligncentre">
      <h1>Hi<br />I'm a UX Developer</h1>
      <h2>A dev who likes users || a designer who can code</h2>
      <p>
        After almost ten years in social and video marketing I ran screaming from what social media
        has become. Now, I use my skills mastered as a marketer to understand audiences and design
        <strong>and build</strong> human-centred experiences.
      </p>
    </div>
    {% else %}
    <div class="page-title aligncentre">
      <h1>{{ page.title | escape }}</h1>
    </div>
    {%- endif -%}
  </div>
</header>
