<small>
  Cat and dog pics from Unsplash. Thanks to:
  <a
    href="https://unsplash.com/@ipet_photo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
    target="_blank"
    rel="noopener noreferrer"
    >ipet photo</a
  >
  ,
  <a
    href="https://unsplash.com/@miklevasilyev"
    target="_blank"
    rel="noopener noreferrer"
    >Mikhail Vasilyev</a
  >
  ,
  <a
    href="https://unsplash.com/@jamessutton_photography"
    target="_blank"
    rel="noopener noreferrer"
    >James Sutton</a
  >
  ,
  <a
    href="https://unsplash.com/@ejleusink"
    target="_blank"
    rel="noopener noreferrer"
    >Erik-Jan Leusink</a
  >
  ,
  <a
    href="https://unsplash.com/@yespanioly"
    target="_blank"
    rel="noopener noreferrer"
    >Yousef Espanioly</a
  >
  ,
  <a
    href="https://unsplash.com/@yerlinmatu"
    target="_blank"
    rel="noopener noreferrer"
    >Yerlin Matu</a
  >
  ,
  <a
    href="https://unsplash.com/@ludemeula"
    target="_blank"
    rel="noopener noreferrer"
    >Ludemeula Fernandes</a
  >
</small>
